<template>
<div>
    <v-navigation-drawer app temporary v-model="sideNav">
        <v-list>
          <v-list-tile 
          v-for="link in links" 
          :key="link.title" 
          :to="link.url">
            <v-list-tile-action>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title v-text="link.title"></v-list-tile-title>
            </v-list-tile-content>

          </v-list-tile>
        </v-list>
    </v-navigation-drawer>

    <v-toolbar app dense dark color="#00aaaa">
        <v-toolbar-side-icon @click="sideNav = !sideNav"></v-toolbar-side-icon>
        <v-toolbar-title >Vendy</v-toolbar-title>
        <!-- <v-btn flat>
            <v-icon left>store</v-icon>
            Explore</v-btn> -->

        <v-spacer></v-spacer>

        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat v-for="link in links" :key="link.title" :to="link.url">
                <v-icon left>{{ link.icon }}</v-icon>
                {{ link.title }}</v-btn>
        </v-toolbar-items>
    </v-toolbar>
    <v-content>

        <!-- <router-view></router-view> -->

    </v-content>
</div>
</template>

<script>
export default {
    data () {
        return {
            sideNav: false,
            links: [
                { title: 'Add Product', icon: 'add', url: '/addproduct' },
                { title: 'My Products', icon: 'list', url: '/list' },
                { title: 'Cart', icon: 'shopping_cart', url: '/checkout' },
                { title: 'Log In', icon: 'account_box', url: '/login' },
                { title: 'Sign Up', icon: '', url: '/signup' },
            ]
        }
        console.log(link.url)
    }
}
</script>